body {
    font-family: Helvetica, sans-serif;
    background-color: #7796cb;
    color: #f7f9f9;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #393e41;
    border-radius: 20px;
    margin: 20px 20px 80px 20px;
}

h1 {
    text-align: center;
    padding-top: 5px;
}

h2 {
    text-align: center;
}

.navigation ul {
    display: flex;
    padding-right: 35px;
}

.navbaritem {
    text-align: center;
    list-style-type: none;
    padding-bottom: 5px;
    flex: 1;
}

.blog_entrys {
    display: flex;
}

article {
    background-color: #393e41;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.contact_form_section{
    background-color: #393e41;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.contact_form {
    display: flex;
}

img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.newsletter {
    display: flex;
    justify-content: center;
    background-color: #393e41;
    padding: 10px;
    border-radius: 20px;
    margin: 80px 20px 20px 20px;
}

table, th, td {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #f7f9f9;
}

a:link {
    color: #f7f9f9;
}

a:visited {
    color: #f7f9f9;
}